@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
  color: #1e293b; /* otsDark */
  font-family: 'Inter', sans-serif;
}

.card {
  @apply bg-white shadow-md rounded-xl p-5 border border-gray-200;
}

.navbar {
  @apply bg-white border-b border-gray-200;
}

.btn-primary {
  @apply bg-otsBlue text-white px-4 py-2 rounded-lg hover:bg-otsLightBlue;
}
