@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  background-color: #f8fafc; /* subtle light background */
  color: #0f172a;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

a { color: #0b63ff; text-decoration: none; }
a:hover { text-decoration: underline; }
